# By default, ignore all files in root directory.
/*.*

# Exceptions
!/*.make
!/.gitignore

# Uncomment following line if modifying .htaccess ?
.htaccess

# Ignore Drupal folders
/profiles/minimal
/profiles/standard
/profiles/testing

# DB settings
sites/*/settings.php
sites/*/files/

# Cache files
.sass-cache
.sass-cache/*
