.about-profile-image {
  width: 100%;
  @include mq($min, $tablet) {
    width: 500px;
    float: right;
    margin-left: 10px;
  }
  shape-outside: url("http://mgapcdev.com/sites/default/files/inline-images/profile_feature2.png");
  shape-image-threshold: 0.5;
  shape-margin: 10px;
  
}
.about-profile-text {
  width: 100%;
  margin-left: 20px;
  padding-top: 10px;
  @include mq($min, $tablet) {
    width: auto;
  }
}