body {
    background: $background-main;
}
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $highlight-color;
    }
}
main {
    padding-top: 51px;
    @include mq($min, $tablet) {
        padding-top: 44px;
    }
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1400px;
    margin: 0 auto;
    &:after {
        @include clear-fix;
    }
}
