// Android node.
#block-androidgallery {
  width: 100%;
  clear: both;
  @include mq($min, $tablet) {
    max-height: 400px;
    clear: none;
    @include aspect-ratio(600, 400);

    float: right;
    width: 49%;
    margin-left:   25%;
    margin-right: -25%;
  }
  > div {
    max-width: 400px;
    margin: 0 auto;
  }
  
}
.android-emote {
  height: 100%;
  @include mq($min, $tablet) {
    margin-left: -50%;
  }
  .spinner {
    opacity: 1;
    background-image: url("/icon/loading.svg");
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;
    
    min-height: 150px;
    width: 100%;
    max-width: 400px;
    position: absolute;
    @include mq($min, $tablet) {
      height: 100%;
    }    
    @include transition(opacity 1s);
  }
  img {
    height: 100%;
    width: 100%;
    opacity: 0;
    @include transition(opacity 1s);
    @include mq($min, $tablet) {
      position: absolute;
      width: auto;
    }
  }
}
.fade-background-svg {
  opacity: 0 !important;
}


// Featured node.
#block-views-block-featured-article-featured-teaser {
  width: 100%;
  max-height: 400px;
  @include mq($min, $tablet) {
    @include aspect-ratio(600, 400);
    float: left;
    width: 49%;
    margin-left:   25%;
    margin-right: -25%;
  }
  > div {
    max-width: 600px;
    margin: 0 auto;
  }
  //border: 5px solid white;
  //border-radius: 10px;
  &:hover {
    .views-field-title {
      opacity: 1;
    }
  }
  img {
    height: auto;
    width: 100%;
    
    @include mq($min, $tablet) {
      margin-left: -50%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
  .views-field-title {
    top: 51px;
    position: absolute;
    padding-top: 20%;
    text-align: center;
    
    font-size: 30px;
    width: 100%;
    max-width: 600px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    color: white;
    text-shadow:
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
    @include mq($min, $tablet) {
      top: 44px;
      width: 100%;
      margin-left: -50%;
    }
  }
  .views-field-field-thumbnail img {
    margin-right: 0;
  }
}
