// Modified, Credit to @("http://cssmenumaker.com/menu/simple-responsive-menu")
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#block-mgapcdev-mainnavigation {
  background: $highlight-color;
  width: auto;
}
#block-mgapcdev-mainnavigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#block-mgapcdev-mainnavigation ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#block-mgapcdev-mainnavigation ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#block-mgapcdev-mainnavigation.align-right ul li {
  float: right;
}
#block-mgapcdev-mainnavigation.align-center ul {
  text-align: center;
}
#block-mgapcdev-mainnavigation ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  @include mq($min, $tablet) {
    font-size: 14px;
  }
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#block-mgapcdev-mainnavigation ul li a:hover, #block-mgapcdev-mainnavigation .is-active {
  color: #333333;
}
#block-mgapcdev-mainnavigation ul li a:hover:before, #block-mgapcdev-mainnavigation .is-active:before{
  width: 100%;
}
#block-mgapcdev-mainnavigation ul:not(.navbar-brand) li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 21px;
  height: 2px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#block-mgapcdev-mainnavigation ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#block-mgapcdev-mainnavigation ul li:last-child > a:after {
  display: none;
}
#block-mgapcdev-mainnavigation ul li.is-active a {
  color: #333333;
}
#block-mgapcdev-mainnavigation ul li.is-active a:before {
  width: 100%;
}
#block-mgapcdev-mainnavigation.align-right li:last-child > a:after {
  display: block;
}
#block-mgapcdev-mainnavigation.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #block-mgapcdev-mainnavigation ul li {
    float: none;
    display: block;
  }
  #block-mgapcdev-mainnavigation ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid $highlight-color;
  }
  #block-mgapcdev-mainnavigation ul li.last > a,
  #block-mgapcdev-mainnavigation ul li:last-child > a {
    border: 0;
  }
  #block-mgapcdev-mainnavigation ul li a:after {
    display: none !important;
  }
  #block-mgapcdev-mainnavigation ul li a:before {
    display: none !important;
  }
}

#block-mgapcdev-mainnavigation {
  z-index: 10;
  margin-bottom: 15px;
  margin-top: -3px;
  position: fixed;
  width: 100% !important;
  transition: top 0.2s ease-in-out;
  top: 0px;
  height: 44px;
}
.navbar-brand {
  background: $highlight-color;
  @include mq($min, $tablet) {
    float: left;
  }
  li:nth-child(1) {
    float: left !important;
  }
  li:nth-child(2) {
    float: right !important;
  }
}
.navbar-nav {
  background: $highlight-color;
  @include mq($min, $tablet) {
    float: right;
  }
  overflow-y: hidden;
  max-height: 300px; /* approximate max height */

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  &.closed {
	max-height: 0;
    @include mq($min, $tablet) {
      max-height: 300px;
    }
  }
}
.nav-up {
  top: -254px !important;

  @include mq($min, $tablet) {
    top: -51px !important;
  }
}
.nav-burger {
  @include mq($min, $tablet) {
    display: none !important;
  }
}
