main .views-row div p img {
    display: none;
}
.teaser > div {
    background: $white;
    margin-bottom: 15px;
    margin-left: 10px;
    box-shadow: 0;
    transition: box-shadow 0.3s;
    border: 1px solid #eee;
    &:hover {
        box-shadow: 0 0 3px #515151;;
    }
    p {
        margin: 0px;
        padding: 0px;
        padding-top: 15px;        
    }
    &:after {
        @include clear-fix;
    }
}
.views-field-field-thumbnail img {
    float: none;
    margin-right: 15px;
    @include mq($min, $mobile) {
        float: left;
    }
}
.views-field-title {
    font-size: 20px;
    padding: 10px 0px;
}
.views-field-field-body {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    * {
        display: inline;
        line-height: 25px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
    }
}


.layout-content {
    max-width: 100%;
    min-width: 100%;
    @include mq($min, $tablet) {
        min-width: 64%;
        float: left;
    }
}
.layout-sidebar-first {
    display: none;
    @include mq($min, $tablet) {
        width: 35%;
        float: right;
        display: block;
    }
}
